<html>
    <head>
        <title>Weather App</title>
    </head>
    <body>
        <div class="main">
            <h1>Weather API</h1>
            <form action="/weatherapp"method="post">
                <input type="text" name="city" placeholder="city" required="required" /><br><br>
                <input type="text" name="units" placeholder="units" required="required" /><br><br>
                <input type="text" name="appid" placeholder="appid" required="required" /><br><br>
                <button type="submit">Search</button>
            </form>
            </div>
            <br>
            <br>
    </body>
</html>
